# Цей файл — приклад. Скопіюйте значення у відповідні .env файли сервісів.

# Спільний секрет — ОДНАКОВИЙ у всіх сервісах!
JWT_SECRET=your_super_secret_key_12345
JWT_EXPIRES_IN=7d

# Auth Service
AUTH_PORT=3001
AUTH_MONGO_URI=mongodb://mongo-auth:27017/auth_db

# Transaction Service
TRANSACTION_PORT=3002
TRANSACTION_MONGO_URI=mongodb://mongo-transactions:27017/transactions_db

# Asset Service
ASSET_PORT=3003
ASSET_MONGO_URI=mongodb://mongo-assets:27017/assets_db

# API Gateway
GATEWAY_PORT=3000